:root{
    --space-x-axis : 60px;
}

body{
    margin: 0px;
}

.library{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color:rgb(244, 244, 244);
}

.header{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    padding-left: var(--space-x-axis);
    display: flex;
    align-items: center;
}

.content{
    box-sizing: border-box;
    width: 100%;
    margin: 0px 0px auto 0px;
    padding: 20px var(--space-x-axis);
}

form{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

form > div{
    display: flex;
    flex-direction: column;
}

input,button {
    border-radius: 5px;
    outline: none;
}

input {
    border-color: gainsboro;
}

form button{
    background-color:rgb(64, 210, 255);
    color: white;
}

tr{
    border-top: 1px solid black;
}

th:last-child, table div{
    width: 300px;
}

table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    background-color:white;
    text-align: center;
}

table tr:first-child{
    background-color: rgb(187, 199, 206);
}

tr:nth-child(2n-1){
    background-color: rgb(220, 231, 237);
}

td , table div{
    padding: 5px 5px;
}

table div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    box-sizing: border-box;
    width: 100px;
    border: none;
    padding: 10px;
}

table div button:last-child{
    background-color: rgb(228, 26, 103);
    color: white;
}

.read{
    background-color: rgb(60, 236, 11);
}

.footer{
   margin-bottom: 20px;
}
